@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.main-page {
}

.modal {
  height: 400;
  border: 100 solid white;
  border-radius: 10;
}

.destination-name {
  position: absolute;
  top: 200;
  font-weight: bold;
  font-size: 20;
}

.thumbnail {
  border-radius: 10;
  height: 200;
}

