@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.main-page {
}

.modal {
  height: 400;
  border: 100 solid white;
  border-radius: 10;
}

.destination-name {
  position: absolute;
  top: 200;
  font-weight: bold;
  font-size: 20;
}

.thumbnail {
  border-radius: 10;
  height: 200;
}

#adults {
  background-color: rgb(112, 207, 145);
}

#children {
  background-color: rgb(112, 207, 198);
}

.people {
  padding: 15 5 15 5;
  color: white;
  font-weight: bold;
  border: 5 solid black;
}

.add-subtract-button {
  font-weight: bold;
  border-radius: 100;
  margin: 100;
} 